/ProjectZERO/packages/sfml-window.redist.2.4.0.0/build/*.txt
/ProjectZERO/ProjectZERO.VC.VC.opendb
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/BlendMode.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/CircleShape.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Color.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/ConvexShape.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Drawable.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Export.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Font.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Glsl.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Glsl.inl
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Glyph.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Image.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/PrimitiveType.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Rect.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Rect.inl
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/RectangleShape.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/RenderStates.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/RenderTarget.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/RenderTexture.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/RenderWindow.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Shader.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Shape.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Sprite.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Text.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Texture.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Transform.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Transformable.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/Vertex.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/VertexArray.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics/View.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Main.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/Export.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/Ftp.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/Http.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/IpAddress.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/Packet.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/Socket.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/SocketHandle.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/SocketSelector.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/TcpListener.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/TcpSocket.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Network/UdpSocket.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/OpenGL.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Clock.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Err.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Export.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/FileInputStream.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/InputStream.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Lock.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/MemoryInputStream.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Mutex.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/NativeActivity.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/NonCopyable.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Sleep.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/String.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/String.inl
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Thread.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Thread.inl
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/ThreadLocal.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/ThreadLocalPtr.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/ThreadLocalPtr.inl
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Time.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Utf.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Utf.inl
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Vector2.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Vector2.inl
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Vector3.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/System/Vector3.inl
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/Context.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/ContextSettings.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/Event.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/Export.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/GlResource.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/Joystick.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/Keyboard.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/Mouse.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/Sensor.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/Touch.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/VideoMode.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/Window.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/WindowHandle.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Window/WindowStyle.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/delete.me
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/sfml-system-propertiesui-8a6bc109-2ff1-4d96-ac8e-0972fe28f194.xml
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/sfml-system.targets
/ProjectZERO/packages/sfml-system.2.4.0.0/build/publisher-info.txt
/ProjectZERO/packages/sfml-system.2.4.0.0/sfml-system.2.4.0.0.nupkg
/ProjectZERO/packages/sfml-system.redist.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-system.redist.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-system.redist.2.4.0.0/build/native/sfml-system.redist.targets
/ProjectZERO/packages/sfml-system.redist.2.4.0.0/build/publisher-info.txt
/ProjectZERO/packages/sfml-system.redist.2.4.0.0/sfml-system.redist.2.4.0.0.nupkg
/ProjectZERO/packages/sfml-window.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-window.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-window.2.4.0.0/build/native/sfml-window-propertiesui-79f35500-1e7d-47bf-a7ff-5135fb1e423c.xml
/ProjectZERO/packages/sfml-window.2.4.0.0/build/native/sfml-window.targets
/ProjectZERO/packages/sfml-window.2.4.0.0/build/publisher-info.txt
/ProjectZERO/packages/sfml-window.2.4.0.0/sfml-window.2.4.0.0.nupkg
/ProjectZERO/packages/sfml-window.redist.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-window.redist.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-window.redist.2.4.0.0/build/native/sfml-window.redist.targets
/ProjectZERO/packages/sfml-window.redist.2.4.0.0/sfml-window.redist.2.4.0.0.nupkg
/ProjectZERO/ProjectZERO.VC.db
/ProjectZERO/ProjectZERO.sln
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/CL.command.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/CL.read.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/CL.write.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/ProjectZERO.lastbuildstate
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/link-cvtres.read.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/link-cvtres.write.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/link-rc.read.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/link-rc.write.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/link.command.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/link.read.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/link.write.1.tlog
/ProjectZERO/ProjectZERO/Debug/ProjectZERO.tlog/unsuccessfulbuild
/ProjectZERO/ProjectZERO/Debug/vc140.idb
/ProjectZERO/ProjectZERO/ProjectZERO.rc
/ProjectZERO/ProjectZERO/ProjectZERO.vcxproj
/ProjectZERO/ProjectZERO/ProjectZERO.vcxproj.filters
/ProjectZERO/ProjectZERO/Release/ProjectZERO.tlog/CL.command.1.tlog
/ProjectZERO/ProjectZERO/Release/ProjectZERO.tlog/CL.read.1.tlog
/ProjectZERO/ProjectZERO/Release/ProjectZERO.tlog/CL.write.1.tlog
/ProjectZERO/ProjectZERO/Release/ProjectZERO.tlog/ProjectZERO.lastbuildstate
/ProjectZERO/ProjectZERO/Release/ProjectZERO.tlog/link.command.1.tlog
/ProjectZERO/ProjectZERO/Release/ProjectZERO.tlog/link.read.1.tlog
/ProjectZERO/ProjectZERO/Release/ProjectZERO.tlog/link.write.1.tlog
/ProjectZERO/ProjectZERO/packages.config
/ProjectZERO/ProjectZERO/x64/Debug/ProjectZERO.tlog/CL.command.1.tlog
/ProjectZERO/ProjectZERO/x64/Debug/ProjectZERO.tlog/CL.read.1.tlog
/ProjectZERO/ProjectZERO/x64/Debug/ProjectZERO.tlog/CL.write.1.tlog
/ProjectZERO/ProjectZERO/x64/Debug/ProjectZERO.tlog/ProjectZERO.lastbuildstate
/ProjectZERO/ProjectZERO/x64/Debug/ProjectZERO.tlog/unsuccessfulbuild
/ProjectZERO/ProjectZERO/x64/Debug/vc140.idb
/ProjectZERO/Release/ProjectZERO.iobj
/ProjectZERO/Release/ProjectZERO.ipdb
/ProjectZERO/packages/sfml-audio.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-audio.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-audio.2.4.0.0/build/native/sfml-audio-propertiesui-ae5624b8-db69-47ce-995f-6ab6a3603c48.xml
/ProjectZERO/packages/sfml-audio.2.4.0.0/build/native/sfml-audio.targets
/ProjectZERO/packages/sfml-audio.2.4.0.0/build/publisher-info.txt
/ProjectZERO/packages/sfml-audio.2.4.0.0/sfml-audio.2.4.0.0.nupkg
/ProjectZERO/packages/sfml-audio.redist.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-audio.redist.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-audio.redist.2.4.0.0/build/native/sfml-audio.redist.targets
/ProjectZERO/packages/sfml-audio.redist.2.4.0.0/build/publisher-info.txt
/ProjectZERO/packages/sfml-audio.redist.2.4.0.0/sfml-audio.redist.2.4.0.0.nupkg
/ProjectZERO/packages/sfml-graphics.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-graphics.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-graphics.2.4.0.0/build/native/sfml-graphics-propertiesui-c4da26ed-ce69-4b8e-b2d3-7822cf764dd9.xml
/ProjectZERO/packages/sfml-graphics.2.4.0.0/build/native/sfml-graphics.targets
/ProjectZERO/packages/sfml-graphics.2.4.0.0/build/publisher-info.txt
/ProjectZERO/packages/sfml-graphics.2.4.0.0/sfml-graphics.2.4.0.0.nupkg
/ProjectZERO/packages/sfml-graphics.redist.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-graphics.redist.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-graphics.redist.2.4.0.0/build/native/sfml-graphics.redist.targets
/ProjectZERO/packages/sfml-graphics.redist.2.4.0.0/build/publisher-info.txt
/ProjectZERO/packages/sfml-graphics.redist.2.4.0.0/sfml-graphics.redist.2.4.0.0.nupkg
/ProjectZERO/packages/sfml-network.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-network.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-network.2.4.0.0/build/native/sfml-network-propertiesui-fb961b24-305e-45c9-bdd4-8b1cf04114ef.xml
/ProjectZERO/packages/sfml-network.2.4.0.0/build/native/sfml-network.targets
/ProjectZERO/packages/sfml-network.2.4.0.0/build/publisher-info.txt
/ProjectZERO/packages/sfml-network.2.4.0.0/sfml-network.2.4.0.0.nupkg
/ProjectZERO/packages/sfml-network.redist.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-network.redist.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-network.redist.2.4.0.0/build/native/sfml-network.redist.targets
/ProjectZERO/packages/sfml-network.redist.2.4.0.0/build/publisher-info.txt
/ProjectZERO/packages/sfml-network.redist.2.4.0.0/sfml-network.redist.2.4.0.0.nupkg
/ProjectZERO/packages/sfml-system.2.4.0.0/build/configurations.autopkg
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/default-propertiesui.xml
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/AlResource.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/Export.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/InputSoundFile.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/Listener.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/Music.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/OutputSoundFile.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/Sound.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/SoundBuffer.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/SoundBufferRecorder.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/SoundFileFactory.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/SoundFileFactory.inl
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/SoundFileReader.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/SoundFileWriter.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/SoundRecorder.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/SoundSource.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Audio/SoundStream.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Config.hpp
/ProjectZERO/packages/sfml-system.2.4.0.0/build/native/include/SFML/Graphics.hpp
